/* title container style */

.title-container {
	height: 100vh;
	width: 100%;
	background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
	background-size: 300% 300%;
	animation: color 15s ease-in-out infinite;
}

.title-container nav {
	width: 100%;
}

@keyframes color {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}

#title-txt-container {
	margin-top: 5%;
	text-align: justify;
}

#title-txt-container :nth-child(1) {
	font-family: "Sofia", cursive;
	font-size: 20px;
}

.nav-container {
	background-color: #1f1f2e;
}

#nav-ul li a {
	text-decoration: none;
	margin-right: 50px;
	font-size: 19px;
	color: white;
	font-weight: bold;
}

#nav-ul li a:hover {
	color: rgb(233, 140, 9);
}

#nav-ul li a:active {
	color: white;
}

#nav-ul li {
	list-style: none;
	padding: 6px;
}

.card-container {
	width: 120%;
	background-color: #f6f6fe;
}

.img-container {
	overflow: hidden;
}

.img-container img {
	width: 100%;
	height: 167px;
	overflow: hidden;
	border-radius: 10px;
}

#project-card-container {
	height: fit-content;
}

.paregraph-line {
	text-align: justify;
}

/* about section  */
.style-icon {
	font-size: 48px;
}

#about-txt-container h2 {
	color: #40e0d0;
}

#about-txt-container:first-child {
	font-family: "Trirong", serif;
}

#about-container {
	background-color: #343a40;
	width: 100%;
	overflow: hidden;
	margin: 0px;
}

/* exprince container */
#exprince-container {
	background-color: rgba(0, 0, 59, 0.8);
}

.exprience-text {
	color: #40e0d0;
}

#exprince-box {
	width: 23% !important;
	background-color: rgba(128, 0, 83, 0.637);
	border: 5px solid black;
	box-shadow: 10px 10px 5px black;
}

/* skill container  */
#skill-container {
	background-image: url("https://images.pexels.com/photos/360591/pexels-photo-360591.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.skill-text {
	color: yellow;
	text-transform: uppercase;
}

.skill-text span {
	font-size: 40px;
}

#skill-box {
	width: 23% !important;
	background-color: rgb(22, 22, 22);
}

/* education conttainer style */

#education-container {
	background-image: url("https://images.unsplash.com/photo-1436262513933-a0b06755c784?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjN8fGVkdWNhdGlvbiUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2%;
}

.education-text {
	color: navy;
}

#education-box {
	width: 45% !important;
	background-color: rgb(22, 22, 22);
}

/* contact container  */
#contact {
	width: 100.8%;
}

#contact-txt span {
	font-size: 40px;
	margin-right: 13px;
}

/* typing animation */
#typing-effect {
	border-right: 0.15em solid orange;
	white-space: nowrap;
	overflow: hidden;
}

#typing-effect {
	width: 7.3em;
	-webkit-animation: type 3s steps(40, end);
	animation: type 3s steps(40, end);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@keyframes type {
	0% {
		width: 0;
	}

	99.9% {
		border-right: 0.15em solid orange;
	}

	100% {
		border: none;
	}
}

@-webkit-keyframes type {
	0% {
		width: 0;
	}

	99.9% {
		border-right: 0.15em solid orange;
	}

	100% {
		border: none;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

@-webkit-keyframes blink {
	50% {
		border-color: tranparent;
	}
}

/* screen size phones */
@media only screen and (max-width: 600px) {

	/* set title conatiner height for this screen show at mid */
	#title-flex-container {
		height: 100vh;
	}

	#title-txt-container {
		width: 86%;
		margin-top: 30px;
	}

	#project-container {
		margin-bottom: 15px;
	}

	#exprince-box {
		width: 90% !important;
	}

	#skill-box {
		margin-bottom: 25px;
		width: 77% !important;
	}
}

#textarea-container {
	height: 4rem;
}

#textarea-container textarea {
	height: inherit;
}

/* @media only screen and (min-width: 600px) and (max-width: 600px) {} */

#add-color-great {
	color: #64CCC5;
}

#contact-details-container {
	background-color: #04364A;
}

#form-container {
	border-radius: 5%;
}

#name,
#emailid {
	border: none;
	border-bottom: 1px solid;
	width: 100%;
	padding: 3px;
}

#msg {
	width: 100%;
}

input:focus {
	outline: none;
}

#name:focus,
#emailid:focus {
	border-width: 2px;
}

.form-text-color {
	color: #04364A;
}

.form-btn-bg {
	background-color: #04364A;
	color: white;
}

#left-side-container {
	padding-left: 6%;
}

#form-container {
	background-color: white;
}

@media screen and (max-width: 992px) {
	#right-side-container {
		margin-top: 10%;
		margin-bottom: 5%;
	}
}